<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:display-name>mobiTop</javaee:display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.omniwyse.action.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/link</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>com.omniwyse.action.StartServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/serverlink</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ajaxsec</servlet-name>
    <servlet-class>com.omniwyse.test.AjaxSecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxsec</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>LoginServlet</javaee:display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.omniwyse.loginlogout.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ProfileServlet</javaee:display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.omniwyse.loginlogout.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>LogoutServlet</javaee:display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.omniwyse.loginlogout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryString</servlet-name>
    <servlet-class>com.omniwyse.test.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryString</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  <javaee:display-name>Spring MVC Form Handling</javaee:display-name>
  <servlet>
    <servlet-name>mobiTop</servlet-name>
    <servlet-class>
           org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mobiTop</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <javaee:param-name>com.sun.jersey.config.property.packages</javaee:param-name>
      <javaee:param-value>java4s</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>com.sun.jersey.api.json.POJOMappingFeature</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>